* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
}

body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, .5)), url(img/background.jpg);
    background-size: cover;
    font-size: 20px;
    font-family: 'Lato', 'Arial', sans-serif;
    text-rendering: optimizeLegibility;
}

.row {
    width: 1140px;
    margin: auto;
    text-align: center;
}

header h1 {
    color: #8e44ad;
    font-size: 400%;
    letter-spacing: 1px;
    margin-top: 80px;
    text-transform: uppercase;
    word-spacing: 4px;
}

header h1:after {
    background-color: #8e44ad;
    content: "";
    display: block;
    width: 200px;
    height: 2px;
    margin: 0 auto;
    margin-top: 25px;
}

.section-search {
    margin-bottom: 30px;
    position: relative;
}

.search-input {
    border: 1px solid #ebdaf3;
    border-radius: 10px;
    color: #555;
    padding: 8px 12px;
    width: 50%;
    margin: auto;
}

.search-input:focus {
    outline: none;
}

.search-icon {
    color: #8e44ad;
    font-size: 140%;
    position: absolute;
    top: 8%;
    right: 36%;
    vertical-align: middle;
}